USE [schoolmanager]
GO
/****** Object:  Table [dbo].[students]    Script Date: 5/13/2026 10:36:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[students](
	[id] [uniqueidentifier] NOT NULL,
	[name] [varchar](255) NULL,
	[email] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'0786effa-a5a9-49af-8aa9-224d8bdd1eb9', N'Hoàng Th? Em', N'em.hoang@university.edu.vn')
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'3fa85f64-5717-4562-b3fc-2c963f66afa6', NULL, NULL)
INSERT [dbo].[students] ([id], [name], [email]) VALUES (N'6e497567-0d08-476d-b042-4c8d3597adf0', N'Võ Gia Huy', N'huy.vo@university.edu.vn')
GO
ALTER TABLE [dbo].[students] ADD  DEFAULT (newid()) FOR [id]
GO
